/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#mainMenu
{
	-fx-background-image: url("/view/red.jpg");
}
#pauseScreen
{
	-fx-background-color: rgb(0,255,0);
}
#inventoryScreen
{
	-fx-background-color: rgb(255,0,0);
}
#gameOverScreen
{
	-fx-background-color: rgb(0,0,0);	
}
#gameOverText
{
	-fx-text-fill: rgb(255,0,0);
}
#gameWonScreen
{
}
#gameWonText
{
	-fx-text-fill: rgb(0,255,0);
}

